  <br><br><br><br>
  <h1> NUESTROS SERVICIOS </h1>

  <div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1"> Selección de personal </a>
        <a class="list-group-item list-group-item-action" href="#list-item-2"> Valoraciones psicotécnicas </a>
        <a class="list-group-item list-group-item-action" href="#list-item-3"> Consultoría a empresas </a>
        <a class="list-group-item list-group-item-action" href="#list-item-4"> Orientación Vocacional </a>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
        tabindex="0">
        <h5 id="list-item-1"> Selección de personal </h5>
        <img class="selection" src="./images/seleccion.jpg" alt="Selección">
        <p class="services">

          Procesos de selección de personal a medida, orientado a empresas o a particulares. <br>
          La modalidad es end-to-end, es decir, recibimos el pedido, y nos encargamos desde la publicación del aviso,
          hasta el ingreso de la persona en la organización. <br> <br>

          El capital humano, es la clave para el buen funcionamiento de la empresa. Creemos que el personal idóneo para
          el puesto,
          debe ser adecuadamente seleccionado e inducido en el puesto a ocupar. <br> <br>
          Nuestra especialidad: mandos medios y gerenciales.


        </p>
        <h5 id="list-item-2"> Valoraciones psicotécnicas </h5>
        <img class="selection" src="./images/psico.jpg" alt="Psicotécnicos">
        <p> Para cada posición, diferentes competencias a evaluar. Las valoraciones brindan utilidad al definir quien
          ocupará
          determinado puesto. </p>
        <h5 id="list-item-3"> Consultoría a empresas </h5>
        <img class="selection" src="./images/rh.jpg" alt="RH">
        <p> Nos especializamos en: <br>
        <ul>
          <li> Clima laboral. Relevamiento y plan de acción. </li>
          <li> Gestión del desempeño. </li>
          <li> Revisión de puestos. </li>
          <li> Manual de competencias. </li>
        </ul>
        <h5 id="list-item-4"> Orientación Vocacional </h5>
        <img class="selection" src="./images/vocacional.jpg" alt="Selección">
        <p> Servicio orientado a:
        <ul>
          <li> Interesados en reorientar su rumbo laboral. </li>
          <li> Adolescentes y jóvenes por comenzar su rumbo profesional. </li>
        <li> Escuelas, para los últimos años escolares. </li>
          <li> Interesados en descubrir su vocación. </li>
      

        </ul>
              </p>
      </div>
    </div>
  </div>








