<body>
 <br>
  <br><br><br><br>

  <h1> Subir CV a base de datos </h1>

  <h2> Datos personales </h2>

  <form class="row g-3" action="/subircv" method="post">
   <div class="col-md-6">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="col-md-6">
      <label for="apellido" class="form-label"> Apellido </label>
      <input type="text" class="form-control" id="apellido" name="apellido">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="col-md-6">
      <label for="inputdate" class="form-label"> Fecha de nacimiento</label>
      <input type="date" class="form-control" id="inputdate" name="date">
    </div>
    <div class="col-12">
      <label for="address" class="form-label"> Dirección </label>
      <input type="text" class="form-control" id="address" placeholder="Calle, número y barrio" name="address">
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label"> Ciudad </label>
      <input type="text" class="form-control" id="city" name="city">
    </div>

    <div class="col-md-4">
      <label for="contry" class="form-label"> País </label>
      <select id="country" class="form-select" name="country">
        <option selected> Seleccionar </option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="dni" class="form-label"> DNI </label>
      <input type="text" class="form-control" id="dni" name="dni">
    </div>
  
  <h2> Formación </h2>
  <!-- Formación 1 -->

  {{!-- <form class="row g-3" action="/subircv" method="post"> --}}
    <div class="col-md-4">
      <label for="centro" class="form-label"> Centro educativo </label>
      <input type="text" class="form-control" id="centro" name="centro">
    </div>
    <div class="col-md-4">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="nivel" name="nivel">
        <option selected> Nivel de estudios alcanzado</option>
        <option value="1">Primaria</option>
        <option value="2">Secundaria</option>
        <option value="3">Terciario</option>
        <option value="4">Universitario</option>
        <option value="5">Posgrado</option>
        <option value="6">Master</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="título" class="form-label"> Título alcanzado </label>
      <input type="text" class="form-control" id="título" name="título">
    </div>
    <div class="col-md-3">
      <label for="date2" class="form-label"> Desde </label>
      <input type="date" class="form-control" id="dale2" name="date2">
    </div>
    <div class="col-md-3">
      <label for="date3" class="form-label"> Hasta </label>
      <input type="date" class="form-control" id="date3">
    </div>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check" name="check">
      <label class="form-check-label" for="flexCheckDefault">
        Actualmente
      </label>
    </div> <br>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check2" name="check2">
      <label class="form-check-label" for="flexCheckDefault">
        Abandonado
      </label>
    </div>

    <!-- Formación 2 -->
   <form class="row g-3" action="/subircv" method="post">
    <div class="col-md-4">
      <label for="centro" class="form-label"> Centro educativo </label>
      <input type="text" class="form-control" id="centro" name="centro">
    </div>
    <div class="col-md-4">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="nivel" name="nivel">
        <option selected> Nivel de estudios alcanzado</option>
        <option value="1">Primaria</option>
        <option value="2">Secundaria</option>
        <option value="3">Terciario</option>
        <option value="4">Universitario</option>
        <option value="5">Posgrado</option>
        <option value="6">Master</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="título" class="form-label"> Título alcanzado </label>
      <input type="text" class="form-control" id="título" name="título">
    </div>
    <div class="col-md-3">
      <label for="date2" class="form-label"> Desde </label>
      <input type="date" class="form-control" id="dale2" name="date2">
    </div>
    <div class="col-md-3">
      <label for="date3" class="form-label"> Hasta </label>
      <input type="date" class="form-control" id="date3">
    </div>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check" name="check">
      <label class="form-check-label" for="flexCheckDefault">
        Actualmente
      </label>
    </div> <br>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check2" name="check2">
      <label class="form-check-label" for="flexCheckDefault">
        Abandonado
      </label>
    </div>

    

    <h2> Experiencia laboral </h2>

    <!-- Experiencia 1 -->
    <div class="col-md-4">
      <label for="cargo" class="form-label"> Cargo </label>
      <input type="text" class="form-control" id="cargo" name="cargo">
    </div>
    <div class="col-md-4">
      <label for="empresa" class="form-label"> Nombre de la empresa </label>
      <input type="text" class="form-control" id="empresa" name="empresa">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Desde </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Hasta </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check" name="check">
      <label class="form-check-label" for="flexCheckDefault">
        Actualmente
      </label>
    </div>
    <div class="col-md-4">
      <label for="país" class="form-label"> Ciudad/País </label>
      <input type="text" class="form-control" id="país" name="país">
    </div>
    <div class="mb-3">
      <label for="tareas" class="form-label"> Tareas realizadas </label>
      <textarea class="form-control" id="tareas" name="tareas" rows="5"></textarea>
    </div>

 <!-- Experiencia 2 -->

   <div class="col-md-4">
      <label for="cargo" class="form-label"> Cargo </label>
      <input type="text" class="form-control" id="cargo" name="cargo">
    </div>
    <div class="col-md-4">
      <label for="empresa" class="form-label"> Nombre de la empresa </label>
      <input type="text" class="form-control" id="empresa" name="empresa">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Desde </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Hasta </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check" name="check">
      <label class="form-check-label" for="flexCheckDefault">
        Actualmente
      </label>
    </div>
    <div class="col-md-4">
      <label for="país" class="form-label"> Ciudad/País </label>
      <input type="text" class="form-control" id="país" name="país">
    </div>
    <div class="mb-3">
      <label for="tareas" class="form-label"> Tareas realizadas </label>
      <textarea class="form-control" id="tareas" name="tareas" rows="5"></textarea>
    </div>

 <!-- Experiencia 3 -->

    <div class="col-md-4">
      <label for="cargo" class="form-label"> Cargo </label>
      <input type="text" class="form-control" id="cargo" name="cargo">
    </div>
    <div class="col-md-4">
      <label for="empresa" class="form-label"> Nombre de la empresa </label>
      <input type="text" class="form-control" id="empresa" name="empresa">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Desde </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label"> Hasta </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-2" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check" name="check">
      <label class="form-check-label" for="flexCheckDefault">
        Actualmente
      </label>
    </div>
    <div class="col-md-4">
      <label for="país" class="form-label"> Ciudad/País </label>
      <input type="text" class="form-control" id="país" name="país">
    </div>
    <div class="mb-3">
      <label for="tareas" class="form-label"> Tareas realizadas </label>
      <textarea class="form-control" id="tareas" name="tareas" rows="5"></textarea>
    </div>

    
<h3> Enviar CV adjunto a: joma.seleccion@gmail.com  </h3>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
















